<% title(@recipe.name) %>

<body class='recipe-body'>

  <div id='recipe-page'>
    <div class='row'>
      <div class="recipe-column text-center" id='recipe-description'>
        <h1 class='title' id='description-title'>Description</h1>
        <p id='description-body'> <%= @recipe.description %> </p>
      </div>

      <div class='recipe-column text-center'> 
        <h1 class='title' id='dish-title'> 
          <%= @recipe.name %> 
        </h1>
        <%= image_tag "food/#{@recipe.image_name}.webp", id: 'recipe-picture' %> 
      </div>

      <div class='recipe-column text-center' id='recipe'>
        <h1 class='title'>Recipe</h1>

        <% @recipe.ingredients.each do | ingredient | %>
          <p class='ingredient'> <%= ingredient %> </p>
        <% end %>
        
        <div class='heading'>
          <h2 class='title' id='instructions'>Instructions</h2>
          <ol>
            <% @recipe.directions.lines.each do | instruction_step | %>
              <li class='instruction'> <%= instruction_step %> </li>
            <% end %>
          </ol>
        </div>

        <h2 class='title' id='prep-time-title'>Estimated prep time:</h2>
        <p id='prep-time'> <%= @recipe.prep_time %> </p>
      </div>
      
    </div>
  </div>

</body>