<div class='text-center'>

  <h1> Hi, <%= @user.first_name %>! </h1>

  <% unless @future_appointments.empty? %>

    <h3> 
      You have <%= @future_appointments.size %> upcoming <%= @future_appointments.size > 1 ? 'appointments' : 'appointment' %>:
    </h3>

    <% @future_appointments.each do | appointment | %>
      <h4> 
        <%= format_date(appointment.date) %> 

        <% if (appointment.date - 24.hours).future? %>          
          <%= button_to "Cancel Appointment", appointment, class: :button, method: :delete, data: { confirm: "Delete appointment on #{appointment.date}?" } %>
        <% end %>
      </h4>
    <% end %>

  <% end %>

</div>