<head>
  <% title("Home") %>
</head>

<div class='bg-head'>
 <div> Eat Well </div>
</div>

<p class = 'intro'> 
  Living with intention is a powerful medicine.
  Whether this means cleansing with the changing of the seasons or aligning your daily rhythms in harmony with the moon cycles, Vidya Living provides a resource for women looking to reconnect with their roots and the ancient wisdom of self-healing through food, breath and conscious movement. 
</p>


<div class="container">
    <div> <%= image_tag 'heart-health-1' %> </div>
    <div class="vertical"> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="vertical"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="vertical"> <%= random_image %> </div>
</div>

<p class = 'intro'> 
  Shalini offers cooking classes, registered dietician consultation, accepts Medicare.
</p>

<footer class = 'bg-foot'>
  <div class="container">
    <div id='foot-txt'> 
      Copyright © Shalini 2019 
    </div>
  </div>
</footer>

