<head>
  <% title("Home") %>
</head>

<p class = 'intro'> 
  Living with intention is a powerful medicine.
  Whether this means cleansing with the changing of the seasons or aligning your daily rhythms in harmony with the moon cycles, Vidya Living provides a resource for women looking to reconnect with their roots and the ancient wisdom of self-healing through food, breath and conscious movement. 
</p>


<div class="container">
    <div> <%= image_tag 'heart-health-1' %> </div>
    <div class="vertical"> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="vertical"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="vertical"> <%= random_image %> </div>
</div>

<p class = 'intro'> 
  Shalini offers cooking classes, registered dietician consultation, accepts Medicare.
</p>

  <div id='locations' class='indent'>
    <h4>Locations:</h4> 
    
    <div class='address'>
      <div class='location-header indent'>Windsor Street Care Center</div>
      <div class='location indent'> 119 Windsor St. </div>
      <div class='location indent'> Cambridge, MA 02139 </div>
      <div class='location indent'> Phone: 617-665-3600 </div>
    </div>

    <br>

    <div class='address bottom'>
      <div class='location-header indent'> Union Square Care Center</div>
      <div class='location indent'> 26 Central St. </div>
      <div class='location indent'> Somerville, MA 02143 </div>
      <div class='location indent'> Phone: 617-665-3370 </div>
    </div>
  </div>
