<% title("Home") %>

<p class='intro'> 
  Living with intention is a powerful medicine.
  Whether this means cleansing with the changing of the seasons or aligning your daily rhythms in harmony with the moon cycles, Vidya Living provides a resource for women looking to reconnect with their roots and the ancient wisdom of self-healing through food, breath and conscious movement. 
</p>


<div class="container" id="food_thumbs">
    <div class="vertical"> <%= image_tag 'food/thumbnails/beet-salad-thumb.webp', alt: 'Beet Salad' %> </div>
    <div class="horizontal"> <%= link_to(image_tag('food/thumbnails/2-thumb.webp', alt: 'Apple Bean Cucumber Salad'), '/recipes/2') %> </div>
    <div class="big"> <%= image_tag 'food/thumbnails/strawberries-pomegranate-blueberries-grapes-thumb.webp', alt: 'Strawberries, pomegranate and blueberries' %> </div>
    <div class="vertical"> <%= image_tag 'food/thumbnails/potato-salad-thumb.webp', alt: 'Potato Salad' %> </div>
    <div class="horizontal"> <%= link_to(image_tag('food/thumbnails/bread-thumb.webp', alt: 'bread'), '/recipes/3') %> </div>
    <div> <%= image_tag 'food/thumbnails/mixed-berries-thumb.webp', alt: 'Mixed Berries' %> </div>
    <div> <%= image_tag 'food/thumbnails/berries-cereal-thumb.webp', alt: 'Berries in Cereal' %> </div>
    <div class='big'> <%= image_tag 'food/thumbnails/blueberries-thumb.webp', alt: 'Blueberries and strawberries' %> </div>
    <div class="big"> <%= image_tag 'food/thumbnails/bean-rice-avocado-salad-thumb.webp', alt: 'Bean, rice and avocado salad' %> </div>
    <div class='horizontal'>  <%= image_tag 'food/thumbnails/bean-onion-apple-avocado-salad-thumb.webp', alt: 'Bean, onion, apple and avocado salad' %> </div>
    <div class="horizontal"> <%= image_tag 'food/thumbnails/beet-salad2-thumb.webp', alt: 'Beat salad' %> </div>
    <div class="big"> <%= image_tag 'food/thumbnails/6-thumb.webp', alt: 'Avocado, cucumber, tomato and bean salad' %> </div>
    
    <div class="big"> <%= link_to(image_tag('food/thumbnails/curried-rice-thumb.webp', alt: 'Curried Rice'), '/recipes/1') %> </div>

    <div class='big'> <%= image_tag 'food/thumbnails/potatoes-parsley-thumb.webp', alt: 'Seasoned potatoes with parsley' %> </div>
    <div class="vertical"><%= image_tag 'food/thumbnails/strawberries-thumb.webp', alt: 'Strawberry dessert' %> </div>
    <div class="vertical"> <%= image_tag 'food/thumbnails/7-thumb.webp', alt: 'Tomato, basil and avocado salad' %> </div>
</div>

<p class = 'intro'> 
  Shalini offers cooking classes, registered dietitian consultation, accepts all major forms of health insurance
</p>

<div id='locations' style = 'text-align: center;'>
  <h4>Locations:</h4> 
  
  <div class='address'>
    <div class='location-header'>Windsor Street Care Center</div>
    <div> 119 Windsor St. </div>
    <div> Cambridge, MA 02139 </div>
    <div> Phone: 617-665-3600 </div>
  </div>

  <br>

  <div class='address' style='margin-bottom: 2%;'>
    <div class='location-header'> Union Square Care Center</div>
    <div> 26 Central St. </div>
    <div> Somerville, MA 02143 </div>
    <div> Phone: 617-665-3370 </div>
  </div>
</div>