<head>
  <% title("Home") %>
</head>

<p class = 'intro'> 
  Living with intention is a powerful medicine.
  Whether this means cleansing with the changing of the seasons or aligning your daily rhythms in harmony with the moon cycles, Vidya Living provides a resource for women looking to reconnect with their roots and the ancient wisdom of self-healing through food, breath and conscious movement. 
</p>


<div class="container" style="margin: 10%;">
    <div> <%= image_tag 'heart-health-1' %> </div>
    <div class="vertical"> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="vertical"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="horizontal"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="big"> <%= random_image %> </div>
    <div> <%= random_image %> </div>
    <div class="vertical"> <%= random_image %> </div>
</div>

<p class = 'intro'> 
  Shalini offers cooking classes, registered dietician consultation, accepts Medicare.
</p>

  <div id='locations' style = 'text-align: center;'>
    <h4>Locations:</h4> 
    
    <div class='address'>
      <div class='location-header'>Windsor Street Care Center</div>
      <div> 119 Windsor St. </div>
      <div> Cambridge, MA 02139 </div>
      <div> Phone: 617-665-3600 </div>
    </div>

    <br>

    <div class='address' style='margin-bottom: 2%;'>
      <div class='location-header'> Union Square Care Center</div>
      <div> 26 Central St. </div>
      <div> Somerville, MA 02143 </div>
      <div> Phone: 617-665-3370 </div>
    </div>
  </div>
