<!DOCTYPE html>
<html>
  <head>
    <title> 
      <%= content_for?(:title) ? yield(:title) : 'Shalini Health' %> 
    </title>
    <%= favicon_link_tag asset_path('health.ico'), rel: 'icon', type: 'image/x-icon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script:400">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100">
  </head>

  <body>
    
    <%= render 'layouts/navbar' %> 
    <%= yield %>
    
  </body>
</html>